<div id="box">
  <h3>Create Rhythmclipline</h3>
  <input type="text" [(ngModel)]="rythmclipline" placeholder="SyllableText" />
  <br /><br />
  <label>InstrumentID</label>
  <br /><br />
  <select id="instrumentid" [(ngModel)]="instrumentid">
    <!-- <option>a598a005-b250-27dc-81e6-55474bf9831f</option> -->
    <option
      *ngFor="let serversideinstruments of instrumentList"
      [value]="serversideinstruments.id"
    >
      {{ serversideinstruments.name }}
    </option>
  </select>
  <br /><br />
  <button type="submit" (click)="createRcline()">CreateRhythmclipLine</button>
  <button (click)="reset1()">Reset</button>
</div>
<br /><br />

<!-- <div id="box1">
  <h3>Create Syllable's</h3>
  <input type="text" [(ngModel)]="syllable" placeholder="SimpleSyllable" />
  <br /><br />
  <button type="submit" (click)="createSyllable()">CreateSyllable</button>

  <button (click)="reset2()">Reset</button>
</div> -->
